<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Write down ideas for your next RPG Campaign</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add Campaign Idea</a>
</div>